<body>
  <div class="form-wrapper">
    <div class="form-container">

  <form [formGroup]="reservationForm" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Nom</mat-label>
      <input matInput type="text" formControlName="nom" />
      <mat-error *ngIf="reservationForm.get('nom')?.invalid && reservationForm.get('nom')?.touched">
        Nom est requis.
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Prénom</mat-label>
      <input matInput type="text" formControlName="prenom" />
      <mat-error *ngIf="reservationForm.get('prenom')?.invalid && reservationForm.get('prenom')?.touched">
        Prénom est requis.
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill" class="full-width">
      <mat-label>CIN</mat-label>
      <input matInput type="text" formControlName="cin" />
      <mat-error *ngIf="reservationForm.get('cin')?.invalid && reservationForm.get('cin')?.touched">
        CIN invalide (ex: 8 caractères alphanumériques).
      </mat-error>
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit">Envoyer</button>
  </form>
    </div>
</div>
</body>